services:
  web:
    image: nginx:latest
    ports:
      - '80:80'
    volumes:
      - ./app:/usr/share/nginx/html
      - ./config/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
    restart: unless-stopped

  backend:
    build: ./backend
    volumes:
      - ./backend/data:/app/data
    env_file:
      - .env
    restart: unless-stopped
