/* Montserrat Regular (400) */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/montserrat/montserrat-v26-latin-regular.woff2') format('woff2');
}

/* Montserrat Bold (700) */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/montserrat/montserrat-v26-latin-700.woff2') format('woff2');
}

/* Lato Regular (400) */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/lato/lato-v24-latin-regular.woff2') format('woff2');
}

/* Lato Bold (700) */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/lato/lato-v24-latin-700.woff2') format('woff2');
}

/* Lato Italic (400) */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/lato/lato-v24-latin-italic.woff2') format('woff2');
}

/* Lato Bold Italic (700) */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/lato/lato-v24-latin-700italic.woff2') format('woff2');
}
